---
interface Props {
  paragraphs: string[];
}

const { paragraphs } = Astro.props;
---

<div class="mb-4 font-normal text-xl text-gray-900 dark:text-gray-200">
  {paragraphs.map((paragraph) => <p class="mb-1">{paragraph}</p>)}
</div>
