---
interface Props {
  points: string[];
}

const { points } = Astro.props;
---

<ul class="flex flex-wrap gap-1">
  {
    points.map((point) => (
      <li class="text-lg font-semibold text-gray-900 dark:text-white after:content-['•'] last:after:content-none">
        {point}
      </li>
    ))
  }
</ul>
