---
interface Props {
  date: string;
  subtitle?: string;
}

const { date, subtitle } = Astro.props;
---

<li class="mb-10 ml-4">
  <div
    class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
  >
  </div>
  <time
    class="mb-1 text-xl font-normal leading-none text-gray-600 dark:text-gray-300"
  >
    {date}
  </time>
  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
    <slot name="title" />
  </h3>
  {subtitle && <h4 class="text-lg">{subtitle}</h4>}
  <slot />
</li>
